html
    head
        title Blog
        link(rel="stylesheet" type="text/css" href="/css/mycss.css")

    body
        if error
            h1 #{error}
        else

            div(class="log")
                form(method="post")
                    <SELECT name="username" size="1">
                    for user in users
                        <OPTION value=#{user.email}> #{user.email}
                    <input class="btn btn-info btn-lg" type="submit" value="add">




